[run]
source = autosynch

[report]
exclude_lines =
    if 0:
    if __name__ == .__main__.:
show_missing = True
include =
    autosynch/*
omit =
    autosynch/mad_twinnet/dataset/*
    autosynch/mad_twinnet/outputs/*
    autosynch/eval.py
